httpx
requests
asyncpg==0.29.0
fastapi
uvicorn
psycopg2-binary
python-dotenv
python-jose[cryptography]
sqlalchemy
alembic
passlib[bcrypt]
bcrypt==3.2.2
python-multipart
lightgbm==4.2.0
numpy
pandas
scikit-learn